.History {
    background-color: #282c34;
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.History h2 {
    color: #fff;
}

.History li {
    color: #fff;
    list-style: none;
    cursor: pointer;
}